@media (min-width: 1201px) {
  .container1 .join-width {
    width: 33.333333%;
    margin-top: 0px;
  }

  .container1 .join-text-width {
    width: 60%;
    padding-right: 0px;
  }
}

@media (max-width: 1200px) {
  /* NavBar */
  .hamburger,
  .toggle-menu {
    display: block;
    right: 24px;
  }

  header {
    padding: 10px 20px;
  }

  #logo img {
    height: 40px;
  }

  #logo span {
    font-size: 15px;
  }

  .menu {
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: -300px;
    background: black;
    width: 300px;
    height: 100%;
    padding-top: 65px;
  }

  .menu li {
    width: 100%;
    text-align: center;
  }

  .menu li a {
    color: black;
    padding: 30px;
    font-size: 25px;
    box-shadow: 0 1px 0 rgba(67, 28, 28, 0.2) inset;
    transition: all 0.3s ease-in;
  }

  .menu li a:hover {
    border: none;
  }

  /* Section1 */

  .section-Text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section {
    flex-direction: column;
    height: 640px;
  }

  .gym-img {
    width: 572px;
    height: 344px;
  }

  /* Section2 */
  .container1 {
    flex-direction: column;
  }

  /* Footer */
  .row {
    flex-direction: column;
  }
}

@media screen and (max-width: 426px) {
  #home h2 {
    font-size: 2.2rem;
  }

  .about-desc {
    flex-direction: column-reverse;
    padding: 8vw 0 2vw;
    gap: 1rem;
    align-items: center;
  }

  .about-desc .about-image {
    padding: 0;
    width: 60%;
    margin-bottom: 30px;
  }

  .container4 {
    width: 100%;
    text-align: center;
  }

  .about-desc2 .about-heading1 {
    font-size: 2.2rem;
    font-weight: 800;
    line-height: 9vh;
  }

  .about-desc2 p {
    width: 100%;
    padding: 0 31px;
  }

  .about-desc2 .quote-text {
    margin-left: 20px;
  }

  /* services */

  .services-container {
    padding: 8vw 4vw 8vw 4vw;
  }

  .services-container .blogs .post {
    width: 100%;
  }

  .services-container .blogs .post p {
    text-align: justify;
    padding-right: 8px;
  }

  /* price */

  #price-home h2 {
    font-size: 2.8rem;
    margin-top: -150px;
  }

  /* blog  */

  #blog-home h2 {
    font-size: 2.8rem;
  }

  .blog-container {
    flex-direction: column;
  }

  .blog-container .blogs {
    width: 100%;
  }

  .blog-container .cate {
    width: 100%;
    text-align: justify;
  }

  /* about */

  #about-home h2 {
    font-size: 2.8rem;
  }

  .container4 .about-desc2 .about-desc1 {
    justify-content: center;
    font-size: 26px;
  }

  /* contact  */

  .form {
    width: 90%;
  }

  .contact-form {
    width: 90%;
  }

  .contact-name,
  .contact-email {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 15px;
  }

  .contact-name label,
  .contact-email label {
    font-size: 3vh;
  }

  .contact-name input {
    font-size: 2.5vh;
    padding-left: 6px;
    width: 80%;
  }

  .contact-email input {
    font-size: 2.5vh;
    padding-left: 6px;
    width: 77%;
  }

  .contact-msg-text label {
    font-size: 3vh;
  }

  .contact-msg textarea {
    font-size: 2.5vh;
    padding-left: 6px;
    margin-top: 8px;
  }
}
