<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/index.css" />
    <link rel="stylesheet" href="../static/about.css" />
    <link rel="stylesheet" href="../static/responsive.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Fitness Centre | About</title>
  </head>

  <body>
    <header class="text-gray-600 body-font">
      <nav id="navbar">
        <div id="logo">
          <img src="../static/dumbal.png" alt="GYM LOGO" />
          <span> Fitness Centre</span>
        </div>
        <div class="navigation">
          <input type="checkbox" class="toggle-menu" />
          <div class="hamburger"></div>
          <ul class="menu">
            <li class="item">
              <a href="/">Home</a>
            </li>
            <li class="item">
              <a href="/services">Services</a>
            </li>
            <li class="item">
              <a href="/price">Pricing</a>
            </li>
            <li class="item">
              <a href="/blog">Blogs</a>
            </li>
            <li class="item">
              <a class="active" href="/about">About Us</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <section id="about-home">
      <h2>ABOUT FITNESS CENTRE</h2>
    </section>

    <section4 class="text-gray-600 body-font about-desc">
      <div class="about-image">
        <img src="../static/about-img.jpg" alt="logo" />
      </div>
      <div class="container4">
        <div class="about-desc2">
          <h2 class="about-desc1">About Us</h2>
          <h1 class="sm-text title-font mb-4 text-gray-900 about-heading1">
            Fitness Centre
          </h1>
          <p class="leading-relaxed text-base text-black">
            At Fitness Centre, we pride ourselves on being more than just a
            fitness destination. We are a family of like-minded individuals
            committed to helping you achieve your goals. Our experienced
            trainers, state-of-the-art facilities, and personalized approach
            make us the ideal partner on your path to a healthier lifestyle.
          </p>
          <div class="quote-text">
            <div class="about-red">“</div>
            <div class="quote-inside-text">
              MOTIVATION IS WHAT GETS YOU STARTED. HABIT IS WHAT KEEPS YOU
              GOING.
            </div>
          </div>
        </div>
      </div>
    </section4>

    <section class="choose">
      <h2>WHY CHOOSE US</h2>
      <h1>BUILD YOUR BEST BODY</h1>
      <div class="expert-box">
        <div class="profile">
          <img src="../static/abdominal.png" alt="photo" />
          <h6>ABDOMIAL PLAN</h6>
          <p>
            Ruia's pleasure may be harsh nature either hates or flees but
            because great pains have befallen them...
          </p>
          <div class="pro-links">
            <a href="#">Read More</a>
          </div>
        </div>
        <div class="profile">
          <img src="../static/weight-lifting.png" alt="photo" />
          <h6>WEIGHT LIFTING</h6>
          <p>
            Ruia's pleasure may be harsh nature either hates or flees but
            because great pains have befallen them...
          </p>
          <div class="pro-links">
            <a href="#">Read More</a>
          </div>
        </div>
        <div class="profile">
          <img src="../static/flex-muscle.png" alt="photo" />
          <h6>FLEX MUSCLE</h6>
          <p>
            Ruia's pleasure may be harsh nature either hates or flees but
            because great pains have befallen them...
          </p>
          <div class="pro-links">
            <a href="#">Read More</a>
          </div>
        </div>
        <div class="profile">
          <img src="../static/personal-training-icon.png" alt="photo" />
          <h6>PERSONAL SESSIONS</h6>
          <p>
            Ruia's pleasure may be harsh nature either hates or flees but
            because great pains have befallen them...
          </p>
          <div class="pro-links">
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
    </section>

    <section class="text-gray-600 body-font">
      <div class="container px-5 py-15 mx-auto">
        <div class="flex flex-wrap -m-4 text-center color">
          <div class="p-4 sm:w-1/4 w-1/2">
            <h2
              class="title-font font-medium sm:text-4xl text-3xl text-gray-900"
            >
              2K+
            </h2>
            <p class="leading-relaxed text-black">Members</p>
          </div>
          <div class="p-4 sm:w-1/4 w-1/2">
            <h2
              class="title-font font-medium sm:text-4xl text-3xl text-gray-900"
            >
              100+
            </h2>
            <p class="leading-relaxed text-black">Programs</p>
          </div>
          <div class="p-4 sm:w-1/4 w-1/2">
            <h2
              class="title-font font-medium sm:text-4xl text-3xl text-gray-900"
            >
              35+
            </h2>
            <p class="leading-relaxed text-black">Coaches</p>
          </div>
          <div class="p-4 sm:w-1/4 w-1/2">
            <h2
              class="title-font font-medium sm:text-4xl text-3xl text-gray-900"
            >
              4+
            </h2>
            <p class="leading-relaxed text-black">Locations</p>
          </div>
        </div>
      </div>
    </section>
    <br /><br /><br />

    <section-contact class="contact-section" id="contact-Section">
      <div class="contact-image">
        <img src="../static/contact_image.jpg" alt="contact-image" />
      </div>
      <div class="form">
        <form action="#" class="contact-form">
          <div class="contact-name">
            <label for="input-name">Name: </label>
            <input type="text" id="input-name" placeholder="Full Name..." />
          </div>
          <div class="contact-email">
            <label for="input-email">E-mail:</label>
            <input
              type="email"
              id="input-email"
              placeholder="Enter Your Email..."
            />
          </div>
          <div class="contact-msg">
            <div class="contact-msg-text">
              <label for="input-msg">Enter Your Message:</label>
            </div>
            <div>
              <textarea
                name="input-msg"
                id="input-msg"
                cols="10"
                rows="8"
                placeholder="Enter Your Message..."
              ></textarea>
            </div>
          </div>
          <div class="buttton-submit">
            <a href="#"><button class="contact-submit">Send!</button></a>
          </div>
        </form>
      </div>
    </section-contact>

    <hr />

    <footer class="text-gray-600 body-font">
      <div
        class="container-footer px-5 py-8 mx-auto flex items-center sm:flex-row flex-col"
      >
        <a
          class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900"
        >
          <img src="../static/dumbal.png" alt="logo" class="dumbal" />
          <span class="ml-3 text-xl">Fitness Centre</span>
        </a>
        <p
          class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4"
        >
          &copy Fitness Centre —
          <a
            href="https://github.com/hemantyadav8006"
            class="container-link text-gray-600 ml-1"
            rel="noopener noreferrer"
            target="_blank"
            >@fitness_centre</a
          >
        </p>
        <span
          class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start"
        >
          <a class="footer-social" href="#" target="_blank">
            <svg
              fill="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-5 h-5"
              viewBox="0 0 24 24"
            >
              <path
                d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"
              ></path>
            </svg>
          </a>
          <a class="footer-social ml-3" href="#" target="_blank">
            <svg
              fill="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-5 h-5"
              viewBox="0 0 24 24"
            >
              <path
                d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"
              ></path>
            </svg>
          </a>
          <a class="footer-social ml-3" href="#" target="_blank">
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-5 h-5"
              viewBox="0 0 24 24"
            >
              <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
              <path
                d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"
              ></path>
            </svg>
          </a>
          <a
            class="footer-social ml-3"
            href="https://www.linkedin.com/in/hemant-kumar-yadav-488595215/"
            target="_blank"
          >
            <svg
              fill="currentColor"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="0"
              class="w-5 h-5"
              viewBox="0 0 24 24"
            >
              <path
                stroke="none"
                d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"
              ></path>
              <circle cx="4" cy="4" r="2" stroke="none"></circle>
            </svg>
          </a>
        </span>
      </div>
    </footer>
  </body>
</html>
