<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/index.css">
  <link rel="stylesheet" href="../static/about.css">
  <link rel="stylesheet" href="../static/responsive.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <title> Hemant | Fitness Center </title>

</head>

<body>
  <header class="text-gray-600 body-font">
    <nav id="navbar">
      <div id="logo">
        <img src="../static/dumbal.png" alt="GYM LOGO">
        <span> Fitness Center</span>
      </div>
      <div class="navigation">
        <input type="checkbox" class="toggle-menu">
        <div class="hamburger"></div>
        <ul class="menu">
          <li class="item">
            <a href="/">Home</a>
          </li>
          <li class="item">
            <a href="/services">Services</a>
          </li>
          <li class="item">
            <a href="/price">Pricing</a>
          </li>
          <li class="item">
            <a href="/blog">Blogs</a>
          </li>
          <li class="item">
            <a href="/about">About Us</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <background class="background-image">
    <img src="https://source.unsplash.com/1720x600/?fitness,gym" alt="logo">
  </background>

  <section4 class="text-gray-600 body-font about-desc">
    <div class="about-image">
      <img src="https://source.unsplash.com/1720x600/?fitness,gym,gym" alt="logo">
    </div>
    <div class="container4">
      <div class="about-desc2">
        <h1 class="sm-text title-font mb-4 text-gray-900 about-heading1">WELCOME TO THE FITNESS CENTER</h1>
        <p class="leading-relaxed text-base text-black">At Fitness Center, we pride ourselves on being
          more than just a fitness destination. We are a family of like-minded individuals committed to helping you
          achieve your goals. Our experienced trainers, state-of-the-art facilities, and personalized approach make us
          the ideal partner on your path to a healthier lifestyle.
        </p>
        <div class="quote-text">
          <div class="about-red">
            “
          </div>
          <div class="quote-inside-text">
            MOTIVATION IS WHAT GETS YOU STARTED. HABIT IS WHAT KEEPS YOU GOING.
          </div>
        </div>
      </div>
    </div>
  </section4>

  <hr>

  <section-choose class="choose">
    <h2>WHY CHOOSE US</h2>
    <h1>BUILD YOUR BEST BODY</h1>
    <div class="card-grid">
      <div class="cards">
        <div class="inside-cards max-w-sm bg-white rounded-lg">
          <a href="#" class="img-fit">
            <img class="rounded-t-lg" src="../static/abdominal-sessipons.png" alt="">
          </a>
          <div class="p-5">
            <a href="#">
              <h5 class="text-2xl font-bold tracking-tight text-gray-900">ABDOMINAL PLAN</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Ruia's pleasure may be harsh nature either
              hates
              or flees but because great pains have befallen them...</p>
            <a href="/blog"
              class="img-fit items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
              Read more
              <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9" />
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="cards">
        <div class="inside-cards max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:border-gray-700">
          <a href="#" class="img-fit">
            <img class="rounded-t-lg" src="../static/weight-lifting.png" alt="">
          </a>
          <div class="p-5">
            <a href="#">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">WEIGHT LIFTING</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Ruia's pleasure may be harsh nature either
              hates
              or flees but because great pains have befallen them...</p>
            <a href="/blog"
              class="img-fit items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
              Read more
              <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9" />
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="cards">
        <div class="inside-cards max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:border-gray-700">
          <a href="#" class="img-fit">
            <img class="rounded-t-lg" src="../static/flex-muscle.png" alt="">
          </a>
          <div class="p-5">
            <a href="#">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">FLEX MUSCLE</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Ruia's pleasure may be harsh nature either
              hates
              or flees but because great pains have befallen them...</p>
            <a href="/blog"
              class="img-fit items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
              Read more
              <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9" />
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="cards">
        <div class="inside-cards max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:border-gray-700">
          <a href="#" class="img-fit">
            <img class="rounded-t-lg" src="../static/personal-training-icon.png" alt="">
          </a>
          <div class="p-5">
            <a href="#">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">PERSONAL SESSIONS</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Ruia's pleasure may be harsh nature either
              hates
              or flees but because great pains have befallen them...</p>
            <a href="/blog"
              class="img-fit items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
              Read more
              <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9" />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

  </section-choose>

  <section class="text-gray-600 body-font">
    <div class="container px-5 py-15 mx-auto">
      <div class="flex flex-wrap -m-4 text-center color">
        <div class="p-4 sm:w-1/4 w-1/2">
          <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900">2K+</h2>
          <p class="leading-relaxed text-black">Members</p>
        </div>
        <div class="p-4 sm:w-1/4 w-1/2">
          <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900">100+</h2>
          <p class="leading-relaxed text-black">Programs</p>
        </div>
        <div class="p-4 sm:w-1/4 w-1/2">
          <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900">35+</h2>
          <p class="leading-relaxed text-black">Coaches</p>
        </div>
        <div class="p-4 sm:w-1/4 w-1/2">
          <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900">4+</h2>
          <p class="leading-relaxed text-black">Locations</p>
        </div>
      </div>
    </div>
  </section>
  <br>
  <br>
  <br>
  <br>
  <hr>


  <footer class="text-gray-600 body-font">
    <div class="container-footer px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
        <img src="../static/dumbal.png" alt="logo" class="dumbal">
        <span class="ml-3 text-xl">Fitness Center</span>
      </a>
      <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">&copy
        Fitness Center —
        <a href="https://github.com/hemantyadav8006" class="container-link text-gray-600 ml-1" rel="noopener noreferrer"
          target="_blank">@fitness_center</a>
      </p>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
        <a class="footer-social " href="#" target="_blank">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
            viewBox="0 0 24 24">
            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
          </svg>
        </a>
        <a class="footer-social ml-3" href="#" target="_blank">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
            viewBox="0 0 24 24">
            <path
              d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
            </path>
          </svg>
        </a>
        <a class="footer-social ml-3" href="#" target="_blank">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            class="w-5 h-5" viewBox="0 0 24 24">
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
          </svg>
        </a>
        <a class="footer-social ml-3" href="https://www.linkedin.com/in/hemant-yadav-488595215/" target="_blank">
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"
            class="w-5 h-5" viewBox="0 0 24 24">
            <path stroke="none"
              d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
            <circle cx="4" cy="4" r="2" stroke="none"></circle>
          </svg>
        </a>
      </span>
    </div>
  </footer>
</body>

</html>