<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/index.css" />
    <link rel="stylesheet" href="../static/about.css" />
    <link rel="stylesheet" href="../static/responsive.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Fitness Centre | Services</title>
  </head>

  <body>
    <header class="text-gray-600 body-font">
      <nav id="navbar">
        <div id="logo">
          <img src="../static/dumbal.png" alt="GYM LOGO" />
          <span> Fitness Centre</span>
        </div>
        <div class="navigation">
          <input type="checkbox" class="toggle-menu" />
          <div class="hamburger"></div>
          <ul class="menu">
            <li class="item">
              <a href="/">Home</a>
            </li>
            <li class="item">
              <a class="active" href="/services">Services</a>
            </li>
            <li class="item">
              <a href="/price">Pricing</a>
            </li>
            <li class="item">
              <a href="/blog">Blogs</a>
            </li>
            <li class="item">
              <a href="/about">About Us</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="heading">
      <h1>! COMING SOON !</h1>
    </div>
  </body>
</html>
